{% extends "baseNav.twig" %} {% block title %} Dashboard {% endblock title %} {% block content %}

{{ include('includes/nova-tarefa.twig') }}

<ul class="list-group mt-3">
  {% if dados.tasksList is empty %}
    <li class="list-group-item">Não há tarefas cadastradas</li>
  {% endif %}
  {% if dados.tasksList is not empty %}
    {% for task in dados.tasksList %}
    <li class="list-group-item d-flex justify-content-between">
      {{ task.task }}
      <div class="btn-group">
        <a href="{{ path_for('task-delete', {'id' : task.id_ext}) }}" class="btn btn-danger">Apagar</a>
        <a href="{{ path_for('task-checked', {'id' : task.id_ext}) }}" class="btn btn-success">Concluída</a>
      </div>
    </li>
    {% endfor %}
  {% endif %}
</ul>

{% endblock content %}