{% extends "baseNav.twig" %} {% block title %} Dashboard {% endblock title %} {% block content %}

{{ include('includes/nova-tarefa.twig') }}

<ul class="list-group mt-3">
  {% for task in dados.tasksList %}
  <li class="list-group-item d-flex justify-content-between">
    {{ task.task }}
    <div class="btn-group">
      <a href="#" class="btn btn-danger">Apagar</a>
      <a href="#" class="btn btn-success">Confirma</a>
      
    </div>
  </li>
  {% endfor %}
</ul>

{% endblock content %}